<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<main class="theme-changer theme-dark">

    <div class="heading" [id]="h['start']" *ngFor="let h of pageContents">
        <div class="head">
            <div class="left">
                <h1 [class]="h['head']['left']['title']['class']">
                    {{h["head"]["left"]["title"]['texts'][translate.getCurrentLang()]}}</h1>
                <p [class]="h['head']['left']['subtitle']['class']">
                    {{h["head"]["left"]["subtitle"]['texts'][translate.getCurrentLang()]}}
                </p>
            </div>
            <div class="center"></div>
            <div class="right">
                <span class="material-symbols-outlined"
                    *ngIf="h['head']['right']['icon']['type'] == 'google'">{{h['head']['right']['icon']['content']}}</span>
                <i [class]="h['head']['right']['icon']['content']"
                    *ngIf="h['head']['right']['icon']['type'] == 'bootstrap'"></i>
                <div class="audio" *ngIf="h['head']['right']['audios']">
                    <audio [src]="h['head']['right']['audios'][translate.getCurrentLang()]" controls></audio>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="item" *ngFor="let item of h['body']">
                <div class="text" *ngIf="item['type'] == 'text'">
                    <div [class.title-img]="item['image']['type']=='title-image'">
                        <img [class]="item['image']['class']" [style]="item['image']['style']"
                            [src]="item['image']['src']" [alt]="item['image']['alt']">
                    </div>
                    <h1 class="poppins-medium">{{item['title']['texts'][translate.getCurrentLang()]}}</h1>
                    <p class="roboto-regular">{{item['content']['texts'][translate.getCurrentLang()]}}</p>
                </div>
                <div [class]="item['class']" *ngIf="item['type'] == 'image-list'">
                    <h1 [class]="item['title']['class']">{{item['title']['texts'][translate.getCurrentLang()]}}</h1>
                    <div class="body">
                        <ng-container *ngFor="let ili of item['content']">
                            <a [target]="ili['target']" *ngIf="ili['url']" [href]="ili['url']"><img [src]="ili['image']"
                                    alt="" />
                                <div class="title">
                                    <h1>{{ili['titles'][translate.getCurrentLang()]}}</h1>
                                </div>
                            </a>
                            <a [target]="ili['target']" *ngIf="!ili['url']" [routerLink]="ili['inWebsiteUrl']"><img
                                    [src]="ili['image']" alt="" />
                                <div class="title">
                                    <h1>{{ili['titles'][translate.getCurrentLang()]}}</h1>
                                </div>
                            </a>
                        </ng-container>
                    </div>
                </div>
                <div class="plan-my-day" *ngIf="item['type'] == 'plan-my-day'">
                    <h1>{{translate.getTranslate('Plan My Day')}}</h1>
                    <p>{{translate.getTranslate('planMyDayDescription')}}</p>
                    <a [routerLink]="currentCity['link']+'/plan-my-day'" class="plan-box">
                        <img *ngFor="let i of item['planBoxImages']" [src]="i['url']" [class]="i['class']">
                        <h1>{{translate.getTranslate('Start Your Plan')}}</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 100px;"></div>
</main>